body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  box-sizing: border-box;
}

.hide { display: none; }
.block { display: block; }

h1, h2 {
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
  padding: 0.3rem 0.5rem
}
label:first-of-type {
  padding-left: 0;
}
textarea {
  font-family: 'Courier New', Courier, monospace;
  padding: 0.5rem;
  border: 0.05rem solid #ccc;
  display: block;
  width: 100%;
  height: 30rem;
  box-sizing: border-box;
}
.btn {
  border: none;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  position: relative;
  text-transform: uppercase;
}
.btn-submit {
  background-color: #090;
  text-shadow: #040 0rem 0rem 0.2rem;
}
.btn-submit:hover {
  background-color: #080;
  text-shadow: #000 0rem 0rem 0.5rem;
}
.btn-reset {
  background-color: #900;
  float: right;
}
.btn-burger {
  background-color: #000;
  height: 3rem;
  left: -3rem;
  position: absolute;
  width: 3rem;
}
.btn-burger:hover {
  cursor: pointer;
}
.btn-burger::after {
  /* content: '\2261  '; */
  content: '\025BD ';
  font-size: 1.5rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: transform 0.35s ease-in-out;
  cursor: pointer;
}
.btn-burger--open::after {
  /* content: '\0003E ';
  content: '\021D2 ';
  content: '\021DB '; */
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: transform 0.35s ease-in-out;
}
.sr-only {
  position: absolute;
  left: -1000rem;
  top: -1000rem;
}

.main-nav {
  background-color: #000;
  max-width: 20rem;
  position: fixed;
  right: -20rem;
  top: 0;
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
  width: calc(100% - 3rem);
  z-index: 2;
}
.main-nav--show {
  transform: translateX(-20rem);
  transition: transform 0.4s ease-in-out;
}

.menu-items {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.menu-items li {
  border-top: 0.05rem solid #ccc;
  list-style-type: none;
}
.menu-items li:first-child {
  border-top: none;
}
.menu-items li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 0.9rem 1rem;
  position: relative;
  z-index: 1;
}
.menu-items li a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #205;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  content: '';
  z-index: 1;
  content: '';
}
.menu-items li a::after {
  color: #fff;
  opacity: 0;
  padding: 0.9rem 1rem;
  transform: scale(0);
  transform: translate(-50%,-50%);
  transition: opacity 0.3s ease-in-out transform 0.3s ease-in-out 0.2s;
  position: absolute;
  left: 0;
  top: 0;
  content: attr(data-title);
  z-index: 2;
  }
.menu-items li a:hover::before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out
}
.menu-items li a:hover::after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-in-out transform 0.3s ease-in-out;
}

.mask {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #000;
  opacity: 0.6;
  transform-origin: top right;
  display: block;
  width: 110%;
  z-index: 1;
  margin: -1rem
}
.mask:hover {
  cursor: pointer;
}
.mask--hide {
  transform: translate(102%, -102%);
  transition: transform 0.5s ease-in-out;
}
.mask--show {
  transform: translate(-5%, 0);
  transition: transform 0.5s ease-in-out;
}

form {
  position: relative;
  padding-bottom: 3rem;
  box-sizing: border-box;
}
.action-buttons {
  bottom: -1rem;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  margin: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(235, 235, 255, 0.6)

}

.custom-fields {
  margin: 1rem 0;
  padding: 0;
}
.custom-fields li {
  display: flex;
  list-style-type: none;
  margin: 0.5rem 0 1rem;
}
.custom-fields--label {
  width: 10rem;
  font-weight: bold;
  text-align: right;
  position: relative;
  /* top: -0.3rem; */
}
.custom-fields--label::after {
  content: ': ';
}
.input-wrap {
  flex-grow: 1;
  padding-left: 0.5rem;
}
.input-wrap span {
  display: block;
  margin-top: 0.5rem;
  font-size: 90%;
}
.input-wrap p {
  margin: 0;
}
select { font-size: 1rem; }
option {
  padding: 0.3rem 0.5rem;
}

.debug-mode {
  display: flex;
  margin: 1rem -0.5rem
}
.debug-mode .main-input {
  flex-grow: 1;
  margin: 0 0.5rem;
}
*[readonly="readonly"] {
  color: #007;
  background-color: #f9f9e5;
}
